@import '../../styles/styles.scss';

.AppLayout {
    display: flex;
    height: 100vh;

    .AppNavbar {
        max-width: 220px;
        background: $navbar-background-color;
        border-right: $default-border;

        .NavbarList {
            padding-top: 0;

            .NavLink {
                color: inherit;
                text-decoration: none;

            }

            .AppLogo {
                display: flex;
                color: $logo-color;
                border-bottom: $default-border;
                min-width: 220px;
                min-height: 65px;
                margin-bottom: 1em;

                .AppIcon {
                    margin-right: .75em;
                }
            }

            .NavItem {
                display: block;

                .NavButton {
                    padding: .75em 1em;
                    
                    .NavIcon {
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }

    .AppBody {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;
        
        .AppHeader {            
            display: flex;
            flex-direction: row-reverse;
            border-bottom: $default-border;
            height: min-content;
        
        }

        .AppContent {
            display: flex;
            justify-content: center;
            flex-grow: 1;
            padding: 32px 64px;
            position: relative;
            
            > :first-child {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                max-width: 1600px;
                
            }
        }
    }
}