@import '../../styles/styles.scss';

div.NewTokenForm {
    overflow: auto;

    .CardContent {

        #description {
            min-height: 119px;
            
        }

        .InitialBalancesHeader {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }

        .InitialBalanceRemoveItem {
            display: flex;
            align-items: flex-end;

            button {
                color: $text-color;
                background-color: transparent;
            }
        }
        
        .IncreaseInitialBalanceAction {
            margin-top: 2em;

        }    
    }

    .SubHeaderTitle {
        padding: 0 2em;
    }

    .CardActions {
        justify-content: flex-end;
        margin-top: 1em;

        .SubmitActionButton {
            min-width: 200px;
            
        }
    }
}