@import '../../styles/styles.scss';

.ConnectWalletButton {

    #ConnectWalletButtonMenu {
        color: white;
        background-color: transparent;

        svg {
            margin-right: 0.5em;
        }
    }
}

#ConnectWalletOptions {
        
    .CopyEntry {
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-right: 0.5em;

        svg {
            height: 16px;

        }
    }
}