@import '../../styles/styles.scss';

.ConnectWalletButton {

    #ConnectWalletButtonMenu {
        color: white;
        background-color: transparent;

        svg {
            margin-right: 0.5em;
        }

    }
}