@use "@fontsource/metropolis";
@import "./styles/styles.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Metropolis';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

button.MuiButton-root{
  text-transform: none !important;
  border: $default-border !important;
  background-color: $button-background-color;
  min-width: 42px;
}

div.MuiCardHeader-root,
div.MuiCardContent-root,
div.MuiCardActions-root{
  padding: 20px 32px;
}

.SubHeaderTitle {
  font-weight: 400;
}